// Bitters 1.0.0
// http://bitters.bourbon.io
// Copyright 2013-2015 thoughtbot, inc.
// MIT License

@import "variables";

// Neat Settings -- uncomment if using Neat -- must be imported before Neat
@import "grid-settings";

@import "buttons";
@import "forms";
@import "lists";
@import "tables";
@import "typography";

.website {
  nav {
    @include shift(3.5);
    @include span-columns(5);

    ul {
      @include clearfix;

      padding: 0 2rem;
    }

    .logo {
      color: black;
      display: inline-block;
      font-size: 5rem;
      //margin-bottom: 1em;
    }

    ul.menus {
      li {
        display: inline;
        padding: 1em;
      }
    }
  }
}
