.classification
  @include shift(1)
  @include span-columns(4 of 12, no-display)

  font-family: $content-font-family
  font-size: rem(13)

  &__categories
    margin-bottom: rem(25)

  &__title, &__subtitle
    font-family: $title-font-family
    font-weight: 300

  &__title
    font-size: rem(16)
    margin: rem(10) auto

  &__subtitle
    font-size: rem(15)
    margin: rem(10) auto

  &__item
    margin-top: rem(5)

    &:hover
      .classification__image
        transform: rotateY(180deg)
        opacity: 0.7

  &__image
    transition: transform 0.3s
    margin-right: rem(5)

    &-align_bottom
      vertical-align: -20%

