@mixin body-content() {
  color: black;
  font-family: 'clavo', serif;
  font-size: 14px;
  font-weight: 300;

  margin-bottom: 10rem;
  
  img {
    display: block;
    margin: 2rem auto;
    max-width: 66%;
  }

  p {
    line-height: 1.4rem;
    text-align: justify;

    b, strong {
    }

    i, em {
      font-style: italic;
    }
  }

  hr {
    border: 0;
    background: image_url('separator.png') no-repeat center center;
    height: 24px;
  }

  a {
    color: black;
    font-weight: 500;

    &:hover {
      color: lighten(black, 10);
    }
  }

  ul {
    list-style: disc outside;
  }

  ol {
    list-style: decimal outside;
  }

  blockquote {
    border-left: 1px solid $light-gray;
    margin-left: 0;
    padding-left: 1em;
  }
}

@mixin title-content() {
  box-shadow: none;
  border: none;
  font-family: 'adelle-sans', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 2rem;
  margin-bottom: 3rem;

  &:focus {
    box-shadow: none;
  }
}