.pen-menu {
  * {
    @include box-sizing(content-box)
  }
}

.editor {
  .pen {
    font-family: 'clavo', serif;
    font-size: 14px;
    font-weight: 300;

    p {
      color: black;
      line-height: 1.5rem;
    }
  }

  .title {
    box-shadow: none;
    border: none;
    background: none;
    text-align: center;
    font-family: 'adelle-sans', sans-serif;
    font-size: 22px;
    font-weight: 300;

    &:focus {
      box-shadow: none;
    }
  }
}
