.pen-menu {
  * {
    @include box-sizing(content-box)
  }
}

.editor {
  .pen {
    border-top: 1px solid $light-gray;
    border-bottom: 1px solid $light-gray;
    margin-bottom: 1rem;
    padding-top: 1rem;
    @include body-content;
  }

  .title {
    @include title-content;
  }
}
