$navigation-padding: 1rem;
$navigation-background: white;
$navigation-color: transparentize($dark-gray, 0.3);
$navigation-border-color: darken($navigation-background, 30);
$navigation-color-hover: $dark-gray;

$navigation-logo-font: 'learning-curve';
$navigation-logo-font-size: 40px;

nav {
  background-color: $navigation-background;
  border-bottom: 1px solid $navigation-border-color;
  box-shadow: 1px 1px 1px $navigation-border-color;
  min-height: $navigation-height;
  position: fixed;
  width: 100%;
  z-index: 9999;

  .logo {
    float: left;
    font-family: $navigation-logo-font, cursive;
    font-size: $navigation-logo-font-size;
    line-height: $navigation-height;

    padding-left: $navigation-padding;
    padding-right: 2rem;

    color: $navigation-color-hover;

    &:focus, &:hover {
      color: $navigation-color;
    }
  }

  ul {
    li {
      display: inline;
      line-height: $navigation-height;
      padding-right: 0.8em;

      &.right {
        float: right;
      }
    }

    a {
      color: $navigation-color;

      padding-right: 1em;

      &:focus, &:hover {
        color: $navigation-color-hover;
      }
    }
  }
}
