@import 'pen';
@import 'bourbon';
@import 'neat';

@import 'base/base';
@import 'refills/flashes';

$navigation-height: 60px;
$actions-width: 200px;

@import 'modules/navigation';
@import 'modules/editor';


body, html {
  padding: 0; margin: 0;
}

.actions {
  background: $dark-gray;
  bottom: 0;
  position: fixed;
  top: $navigation-height;
  width: $actions-width;
}

.container {
  @include outer-container;
  margin-left: $actions-width;

  .main {
    margin-top: $navigation-height;
    padding-top: 5rem;
    @include shift(1);
    @include span-columns(10);
  }
}

