@import 'bourbon';
@import 'neat';
@import 'base/base';
@import 'modules/content';
@import 'modules/social_fonts';

$container-top-margin: 10rem;
$container-left-margin: 15rem;

body, html {
  padding: 0; margin: 0;
}

.container {
  @include outer-container;
  margin-left: 0;
  margin-top: $container-top-margin;

  .essays {
    @include span-columns(7);
    margin-left: $container-left-margin;

    .essay {
      @include body-content;

      header {
        @include clearfix;

        .essay-title {
          @include span-columns(5 of 7);
          @include title-content;
        }

        .essay-date {
          @include span-columns(2 of 7);

          color: $light-gray;
          font-family: 'adelle-sans', sans-serif;
          line-height: 2rem;
          text-align: right;
          text-transform: lowercase;
        }
      }
    }
  }
}

nav {
  font-family: 'adelle-sans', sans-serif;
  font-size: 0.9rem;
  position: fixed;
  top: $container-top-margin; left: 0;
  width: $container-left-margin;

  ul {
    @include clearfix;

    padding: 0 2rem 2rem;

    .logo {
      font-family: 'learning-curve', cursive;
      font-size: 3rem;
    }

    li {
      a {
        color: lighten($dark-gray, 30);

        &:hover {
          color: $dark-gray;
        }
      }

      &:first-child {
        margin-bottom: 1rem;
      }
    }

    .social {
      margin-top: 1rem;
      padding-left: 0;

      li {
        float: left;
        margin-right: 0.5rem;
      }
    }
  }
}
