//= depend_on_asset 'header-background-small-3.jpg'

@import 'compass';

$jaune: #fcf986;
$bleu: #6fa2b5;
$rouge: #e3365a;

.jumbotron {
  height: 400px;
  background: image_url('header-background-small-3.jpg') fixed;

  header {
    @include border-radius(10px);

    height: 300px;
    margin-top: 25px;
    margin-bottom: 25px;

    h1 {
      padding-top: 30px;
      font-family: "learning-curve";
      font-size: 96px;
      color: $bleu;
    }
  }
}