@import 'compass';

$jaune: #fcf986; // f7d85b fcf986
$bleu: #6fa2b5; // 6fa2b5 9edbd6
$rouge: #e3365a; // f7897a fbab98 fc755c e3365a

body {
  font-family: 'Josefin Sans';
  text-shadow: 1px 1px #eee;
  font-size: 20px;
  font-weight: 300;
  color: #666;
}

h1 {
  font-family: 'Merriweather';
  font-weight: 300;
  font-size: 42px;
  text-align: center;
  color: $rouge;
  margin-bottom: 40px;
}

nav {
  font-size: 14px;

  &.navbar-default {
    background: $bleu;
    border-color: darken($bleu, 10);
    opacity: 0.5;

    .navbar-nav > li > a {
      color: white;
      text-shadow: 1px 1px darken($bleu, 10);
      @include transition(color .15s ease-in);

      &:hover {
        color: $rouge;
      }
    }
  }
}

article::after {
  padding-bottom: 100px;
}

p {
  padding: 10px 30px;
  line-height: 1.5em;
  letter-spacing: -0.01em;
}

@media (min-width: 1200px) {
  .container {
    width: 1000px;
  }
}