@import 'compass';

.jumbotron {
  height: 400px;
  background-color: white;

  header {
    @include border-radius(10px);

    height: 300px;
    margin-top: 25px;
    margin-bottom: 25px;

    h1 {
      padding-top: 30px;
      font-family: "learning-curve";
      font-size: 96px;
    }
  }
}