@import 'compass';

$pancakes: #E5FCC2;

.jumbotron {
  height: 300px;
  background: none;

  header {
    height: 150px;
    margin-bottom: 25px;

    h1 {
      font-family: "learning-curve";
      font-weight: 300;
      font-size: 72px;
      text-align: center;
    }
  }
}