@import '../../../../../../../../../usr/local/var/rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass';

.jumbotron {
  height: 400px;
  background-color: white;

  header {
    @include border-radius(10px);

    height: 300px;
    margin-top: 25px;
    margin-bottom: 25px;

    h1 {
      padding-top: 30px;
      font-family: "learning-curve";
      font-size: 96px;
    }
  }
}