$darkest: #252525;
$darker: #393939;
$dark: #464646;
$lighter: #898989;
$light: #C2C2C2;

$article-bottom-spacing: 100px;

body {
  font-family: 'fanwood', serif;
  font-size: 16px;
  font-weight: 400;
  color: $darker;
}

nav {
  font-size: 1rem;
  font-weight: 400;
  font-family: 'Josefin Sans', cursive;

  &.navbar-default {
    background: white;
    border-color: darken(white, 10);
    opacity: 0.8;

    .navbar-nav > li > a {
      color: black;
      @include transition(color .15s ease-in);

      &:hover {
        color: #666;
      }
    }
  }
}

article {
  background: white;

  h1 {
    font-family: 'kepler-std-semicondensed-dis', serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 44px;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
  }

  img {
    padding: 1rem;
    width: 100%;
    margin-bottom: 1rem;
  }

  &::after {
    margin-bottom: $article-bottom-spacing;
  }
}

p {
  padding: 1rem;
  line-height: 1.5rem;
}

@media (min-width: 768px) {
  .container {
    width: 700px;
  }
}