.contacts {
  font-family: 'adelle-sans', sans-serif;
  margin-bottom: 5rem;

  p {
    margin-bottom: 4rem;
    font-family: 'clavo', serif;
    font-weight: 300;
  }

  .inline-errors {
    color: darkred;
    font-family: 'adelle-sans', sans-serif;
    font-size: 0.7rem;
    margin-bottom: 1rem;
  }

  form {
    label {
      font-family: 'adelle-sans', sans-serif;
      font-size: 0.8rem;
    }

    input[type="text"], textarea {
      font-family: 'clavo', serif;
      font-weight: 300;
      font-size: 0.8rem;
    }

    input[type="submit"] {
      background-color: rgb(81, 81, 81);
    }
  }
}
