.essays {
  margin-top: $navigation-height;
  margin-bottom: $navigation-height;
  @include shift(1);
  @include span-columns(8);

  .essay {
    background: white;
    border-bottom: 1px solid $light-gray;
    margin-bottom: 1rem;
    padding: 1rem;

    &:last-child {
      border: none;
    }
  }

  h1 {
    @include title-content;
  }

  article {
    @include body-content;
  }
}
